body{
	font-family: 'Courier', sans-serif;
	color: #fff;
	background-color: #000;
}

.text{
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.text .content{
	display: inline;
}
.text .cursor{
	display: inline-block;
	font-weight: bolder;
	
	animation: blink .5s infinite linear;
}

@keyframes blink{
	0%{
		opacity: 1;
	}
	99%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
